.navbar {
  position: fixed;
  height: 10vh;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vw;
  z-index: 5;

  .left {
    font-size: 2rem;
    color: #fff;
  }

  .right {
    .navList {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 1.5em;
      text-align: center;

      .link {
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }
}
